<html>
  <head>
  </head>
  <body>
    <h1>Caesar Cipher</h1>
    <h2>Enter text and key below!</h2>
    <p><%= message %></p>
    <form>
      <input type='text' name='secret_word'/><input type ='number' name="cipher"/>
      <input type='submit' value='Encrypt'>
    </form>
  </body>
  </html>